/*Global*/

*{
    background-color: #000;
    color: #fff;
    font-family: monospace;
}

.headv{
    background-color: rgb(72, 160, 87);
    color: #fff;
    font-family: monospace;
    font-size: calc(1em + 1vw);
    padding: 10px;
    text-align: center;
}

/*endGlobal*/

/*containersGrid*/
    .container,.container_2,.container_3,.container_4,.container_s{
        display:grid;
    }
/*endContainersGrid*/

/*insideContainers*/
    .one,.two,.three,.four,.one_2,.two_2,.two_3,.one_3,.two_3,.one_4,.one_s{
        padding: calc(2vh + 1vw);
        border: 1px solid #fff;
    }
/*endInsideContainers*/
    .container_2{
        grid-template-columns: 1fr 1fr;
    }
    .container_3{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container_4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .container_s{
        grid-template-columns: 1fr;
    }
.container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "one two" "three four";
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.four{
    grid-area: four;
}

.container_s{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one_s";
}

.one_s{
    grid-area: one_s;
}

.container_2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one_2 two_2 two_2 two_2";
}

.one_2{
    grid-area: one_2;
}

.two_2{
    grid-area: two_2;
}

.container_3{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one_3 one_3 one_3 two_3";
}

.one_3{
    grid-area: one_3;
}

.two_3{
    grid-area: two_3;
}

.container_4{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one_4";
}

.one_4{
    grid-area: one_4;
}