*{
    background-color: #000;
    color: #fff;
    font-family: monospace;
}

.headv{
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: calc(1em + 1vw);
    padding: 10px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "one two" "three four";
}

.one{
    grid-area: one;
    padding: 10px;
    border: 1px solid #fff;
}

.two{
    grid-area: two;
    padding: 10px;
    border: 1px solid #fff;
}

.three{
    grid-area: three;
    padding: 10px;
    border: 1px solid #fff;
}

.four{
    grid-area: four;
    padding: 10px;
    border: 1px solid #fff;
}

.container_s{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one_s";
}

.one_s{
    grid-area: one_s;
    padding: 10px;
    border: 1px solid #fff;
}

.container_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one_2 two_2 two_2 two_2";
}

.one_2{
    grid-area: one_2;
    padding: 10px;
    border: 1px solid #fff;
}

.two_2{
    grid-area: two_2;
    padding: 10px;
    border: 1px solid #fff;
}

.container_3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one_3 one_3 one_3 two_3";
}

.one_3{
    grid-area: one_3;
    padding: 10px;
    border: 1px solid #fff;
}

.two_3{
    grid-area: two_3;
    padding: 10px;
    border: 1px solid #fff;
}

.container_4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one_4";
}

.one_4{
    grid-area: one_4;
    padding: 10px;
    border: 1px solid #fff;
}